.sideMenu{
	-fx-font-weight: bold;
	-fx-text-fill:white;
	-fx-background-color: #777bff;

}
.menu-bar {
    -fx-background-color: #777bff ;

}

.menu-bar .label {
    -fx-font-size: 17.0 pt;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
}

.menu-bar .menu:hover, .menu-bar .menu:focused, .menu-bar .menu:showing{
    -fx-background: #6b6ee8;
}

.menu-item .label{
    -fx-text-fill: black;
    -fx-background:white;
}
.menu .menu-item:hover,.menu .menu-item:focused,.menu .menu-item .menu:showing{
	-fx-background: #777bff;
    -fx-text-fill: white;
}
.menu-item .label:hover,.menu-item .label:focused,.menu-item .label:showing{
	-fx-text-fill: white;
    -fx-background:#777bff;
}

#exitButton{
    -fx-font-weight: bold;
    -fx-background-color:  #777bff;
    -fx-font-size: 16;
    -fx-background-radius:  5;
    -fx-text-fill: white;
}
#exitButton:hover {
	-fx-background-color: #6b6ee8;
    
}
#exitButton:pressed {
	-fx-background-color: #6b6ee8;
	-fx-translate-x: -2;
	-fx-translate-y: -2;
	-fx-translate-z: -2;
}