
.startButton{
    -fx-font-weight: bold;
    -fx-background-color:  #5AB2FF;
    -fx-font-size: 16;
    -fx-background-radius:  5;
    -fx-text-fill: white;
}
.startButton:hover {
    -fx-font-weight: bold;
    -fx-background-color:white;
    -fx-background-radius: 5;
    -fx-font-size: 16;
    -fx-text-fill: #2196f3;
    -fx-border-color: #5AB2FF;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    
}
.startButton:pressed {
    -fx-font-weight: bold;
    -fx-background-color:white;
    -fx-background-radius: 5;
    -fx-font-size: 16;
    -fx-text-fill: #2196f3;
    -fx-border-color: #5AB2FF;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-rotate: 10;
}
