.text-field{
	-fx-background-color:white;
	-fx-background-radius:8;
	
}
.text-field:focused{
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.combo-box{
	-fx-font-family:"SansSerif";
	-fx-font-weight:bold;
	-fx-font-size:18;
	-fx-background-color:white;
	-fx-background-radius:8;
	
}

.combo-box:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.combo-box .list-view .list-cell:focused {
  -fx-background-color : #777Bff; 
  -fx-text-fill: white;
}

.combo-box .list-view .list-cell:hover {
  -fx-background-color : #777Bff; 
  -fx-text-fill: white;
}